body {
    background-image: url(../assets/photographyTransparent2_5663739556238590101.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    
}

header {
    background-color: #a56ad398;
}

.container {
    margin: 1vw;
    max-width: 82%;
    float: left;
    color: black;
    padding-left: 2vh;
    background-color: #f5f0ff74;
}

h5 {
    font-size: xx-small;
}

.sidebar{
    width: 15%;
    background-color: #f5f0ffaf;
    float: right;
    padding: 2%;
}

td {
    padding: 0, 1 6%;
}

div .staticRegisterPage {
    background-image: url(../assets/staticRegisterPage.jpg);
    min-height: 15vh;
    min-width: 230px;
    background-repeat: no-repeat;
}

div .staticLayoutApp {
    background-image: url(assets/StaticStore.png);
    min-height: 15vh;
    min-width: 230px;
    background-repeat: no-repeat;
}